In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\vinee\appdata\local\programs\python\python313\lib\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
li=[1,2,3,4,5]
n=np.array(li)

In [4]:
n

array([1, 2, 3, 4, 5])

In [5]:
len(n)

5

In [6]:
n.size

5

In [7]:
n.shape

(5,)

In [8]:
an=np.arange(0,10,2)

In [9]:
an

array([0, 2, 4, 6, 8])

In [10]:
an=np.linspace(0,10,2)

In [11]:
an

array([ 0., 10.])

In [12]:
np.random.rand(10)

array([0.05940221, 0.92876395, 0.78150449, 0.06857253, 0.89347036,
       0.22051334, 0.47063129, 0.17964823, 0.34772285, 0.2894702 ])

In [13]:
np.random.randint(10)

7

In [14]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [15]:
np.identity(4).shape

(4, 4)

In [16]:
a=np.arange(1,10,2)
b=np.append(a,11)
b

array([ 1,  3,  5,  7,  9, 11])

In [17]:
a=np.arange(1,10,2)
b=np.insert(a,2,11)
b

array([ 1,  3, 11,  5,  7,  9])

In [18]:
li.sort(reverse=True)
li

[5, 4, 3, 2, 1]

In [19]:
np.sort_value(b)

AttributeError: module 'numpy' has no attribute 'sort_value'

In [27]:
b[b>5]

array([11,  7,  9])

In [32]:
a
aa=np.append(a,12)
aa

array([ 1,  3,  5,  7,  9, 12])

In [29]:
b

array([ 1,  3, 11,  5,  7,  9])

In [34]:
aa+b

array([ 2,  6, 16, 12, 16, 21])

In [39]:
np.concatenate([aa,b])

array([ 1,  3,  5,  7,  9, 12,  1,  3, 11,  5,  7,  9])

In [56]:
c=np.arange(1,13)
c.reshape(3,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [57]:
c.sum()

np.int64(78)

In [58]:
c.argmin()

np.int64(0)

In [50]:
dd=np.array([[11,12,13,14],[15,16,17,18],[19,20,21,22]])
dd

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 21, 22]])

In [65]:
import pandas as pd

In [66]:
li=[1,2,3,4]
lli=pd.Series(li,['a','b','c','d'])
lli

a    1
b    2
c    3
d    4
dtype: int64

In [68]:
li={'a':11,'b':12}
lli=pd.Series(li)
lli

a    11
b    12
dtype: int64

In [81]:
pd.Series(np.arange(0,50,2))

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
16    32
17    34
18    36
19    38
20    40
21    42
22    44
23    46
24    48
dtype: int64

In [78]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(1,13).reshape(4,3),['a','b','c','d'],['abc','def','ghi'])

In [87]:
df=pd.DataFrame(np.arange(1,13).reshape(4,3),['a','b','c','d'],['abc','def','ghi'])

In [88]:
df

   abc  def  ghi
a    1    2    3
b    4    5    6
c    7    8    9
d   10   11   12

In [89]:
df[['abc','def']].loc()

In [97]:
ddf=df[df>5]
ddf

    abc   def   ghi
a   NaN   NaN   NaN
b   NaN   NaN   6.0
c   7.0   8.0   9.0
d  10.0  11.0  12.0

In [99]:
train = pd.read_csv("train.csv")

In [100]:
train.head()
train.shape
train.columns
print(train)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [108]:
ddf.fillna(1234)
ddf

    abc   def   ghi
b   NaN   NaN   6.0
c   7.0   8.0   9.0
d  10.0  11.0  12.0

In [110]:
ddf.fillna(ddf.mean())

    abc   def   ghi
b   8.5   9.5   6.0
c   7.0   8.0   9.0
d  10.0  11.0  12.0

In [111]:
ddf.isnull()

     abc    def    ghi
b   True   True  False
c  False  False  False
d  False  False  False

In [112]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [114]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [119]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [118]:
type(b)

numpy.ndarray